<% content_for :title, "GalbraithWight Business School | Pharmaceutical marketing training from the GalbraithWight Business School" %>

<div class="container" id="services_bussch">
	<div class="services_header">
		<h4>Positive reinforcement and continual learning is the key to long-term success. This is why we founded the GalbraithWight Business School, so that those working in the healthcare industry can benefit from new knowledge and skills which will continue to deliver value to their organisation long after we’ve finished our engagement with them.</h4>
	</div>

<strong>What is the GalbraithWight Business School?</strong>
<p>The GalbraithWight Business School designs and delivers class-leading educational programmes which cover all aspects of the successful launch and commercialisation of a brand from early development to loss of exclusivity and beyond. While every programme is individually tailored to the needs of each client, our educational programmes broadly fall into two categories; Market Access and branding.</p>

<strong>What makes the GalbraithWight Business School different?</strong>
<ul><li>Our bespoke educational programmes all have Market Access strategy at their heart, because we believe Market Access is the single most important determinant of commercial success for any new brand or product in the pharmaceutical industry.</li>
<li>Our educational programmes build on GalbraithWight’s 20+ years of Market Access experience in delivering strategies and training to cross-functional teams in more than 70 countries across five continents.</li>
<li>We focus on building the valuable skills and knowledge of individuals at all levels so that they can better deliver on their global Market Access strategies now and into the future.
The GalbraithWight Business School delivers the only accredited diploma designed specifically to enable managers to lead or contribute effectively in cross functional branding teams at global, regional and local levels.</li></ul>
<br />
<h4>What will I learn?</h4>
<p>The GalbraithWight Business School programmes include, but are not limited to, the following key areas:</p>
<strong>Market Access</strong>
<ul><li>Market Access Definition, Scope and Key Drivers</li>
<li>Building the Clinical Development Programme to meet Market Access Requirements</li>
<li>Mapping Market Access Decision Makers and Influencers</li>
<li>Building the Market Access Value Dossier and Budget Impact Models</li>
<li>Understanding Market Access Terminology: Effectiveness, Cost Effectiveness and CER</li>
<li>Risk Share and Patient Access Schemes in Market Access</li>
<li>Building a compelling Market Access Value Proposition</li>
<li>Understanding International Healthcare Systems</li>
<li>Decision Gates: Building Market Access Requirements into R&amp;D Decision Gates</li>
<li>Understanding Individual Country Healthcare Systems</li></ul>
<strong>Branding</strong>
<ul><li>Key Factors Affecting Global &amp; Regional Pharmaceutical Business</li>
<li>Decisions© – Strategic Marketing Planning</li>
<li>Effective Brand Management</li>
<li>Strategic Customer Mapping</li>
<li>Life Cycle Management</li>
<li>Strategy Development</li>
<li>Forecasting &amp; Financial Management</li>
<li>Portfolio Management</li>
<li>Anticipating &amp; pre-empting the Competition (‘War Games’)</li>
<li>Segmentation, Targeting &amp; Positioning</li></ul>

</div>

