<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8', http-equiv='Content-Type' />
	</head>
	<body>
		<h1>GalbraithWight News #{Date}</h1>
		<p>
			<!-- some kind of welcome to this week's GalbraithWight Newsletter.  Highights include: -->
		</p>
			<!-- Bit of code that churns out 3 most recent headlines plus short preview, along with links to read more -->
		<p>
			To find out more, please visit <%= link_to 'www.galbraithwight.com', "GalbraithWight.com"%>.
		</p>
	</body>
</html>

