<% content_for :title, "GalbraithWight Brand & Launch Excellence for pharmaceutical products" %>

<% content_for :head do %>
  <meta name="description" content="Pharmaceutical events at which GalbraithWight is exhibiting, chairing, or attending as delegate." />
<% end %>

<div class="container" id="services_ble">
	<div class="services_header">
		<img src="<%= asset_path('services_ble2.png') %>" alt="GalbraithWight Brand & Launch Excellence" />
		<h4 style="background-color: #CB559A !important">The successful launch of any new pharmaceutical brand must take into account the critical dimensions of brand, company and market. But most importantly of all, a coherent Market Access strategy must lie at the heart of all business and brand planning.</h4>
	</div>		


<!-- WEST END VERSION -->
<h4 class="section-heading">
A STRUCTURED APPROACH TO EXCELLENCE
</h4>
<p>The environment for launching and commercialising Pharma brands is increasingly challenging, with new types of customers and stakeholders emerging, new requirements from Payers, new regulatory pathways, more competitive threats and a tough economic outlook.</p>

<p>To be ‘fit for purpose’ for today and tomorrow, a better approach to brand excellence is required
which addresses how we <b>identify, develop & communicate brand value with all the key stakeholders.</b></p>

<p>
	There are many options for addressing the challenges facing brand commercialisation. The question is, in the evolving environment of today and tomorrow, which solutions will really work, and <b>which capabilities will we need to deliver these solutions?</b>
</p>

<h4 class="section-heading">
	IT’S NOT JUST MARKETING, IT’S BRAND EXCELLENCE
</h4>

<p>
	GalbraithWight’s Brand Excellence is the first and only approach which has market access successfully embedded, and is truly cross- functional.
</p>	
<p>
	We deliver both a <b>strategic and operational approach</b> to Brand Excellence, from early phase brand positioning and life cycle management through customer engagement
and communication, globally. We have a proven track record in creating some of the world’s most successful brands and building Brand Excellence capabilities in cross-functional teams in more than 70 countries.
</p>

<p>
	Brand Excellence is built on the foundations of this successful experience, and represents future-proof world class best practice.
	
</p>

<h4 class="section-heading">Brand Excellence Strategy &amp Culture</h4>
<p>
	Our Brand Excellence work is real-world focused and future-proof. It includes advocacy from senior management, a robust brand planning framework, which is well understood and properly implemented cross-functionally
</p>
<ul>
	<li>
		Gap analysis and portfolio management
	</li>
	<li>
		Leadership support and communication
	</li>
	<li>
		Decisions<sup>©</sup> brand planning process
	</li>
</ul>

<h4 class="section-heading">
	Customer &amp; Competitive Insights for Brand Excellence
</h4>
<p>
	Critical analysis and the development of specific insights from customers (patients, healthcare professionals, payers, policy makers) and from competitors are the foundation on which to develop a successful brand plan
</p>
<ul>
	<li>
		Customer insights
	</li>
	<li>
		Stakeholder mapping
	</li>
	<li>
		Competitor awareness
	</li>
	<li>
		Competitive simulation workshops
	</li>
</ul>

<h4 class="section-heading">
	Brand Excellence Execution Tools &amp; Processes
</h4>
<p>
	Brand Excellence needs to have a seamless technical execution through processes which make brand planning more effective
</p>
<ul>
	<li>
		Launch Excellence planning
	</li>
	<li>
		New product positioning
	</li>
	<li>
		Customer attitudinal segmentation
	</li>
	<li>
		Integrated campaign development
	</li>	
	<li>
		Apollo LX launch planning application
	</li>
</ul>

<h4 class="section-heading">
	Brand Excellence Capabilities &amp; Training
</h4>
<p>
	Brand Excellence requires growing capabilities at all levels. This involves defining competencies, training needs and implementation of personal development plans
</p>
<ul>
	<li>
		Cross-functional Brand Excellence training
	</li>
	<li>
		Comprehensive curriculum of training modules
	</li>
	<li>
		Senior management masterclasses
	</li>
	<li>
		Brand plan critique/management review sessions
	</li>
	<li>
		Competency assessment tools and role definitions
	</li>
	<li>
		Talent identification and personal development plans
	</li>
</ul>



<h4 class="section-heading">
	ABOUT APOLLO LX: LAUNCH PLANNING APPLICATION
</h4>

<p>
	
	<img src="<%= asset_path('apollolx.png') %>" alt="GalbraithWight Brand & Launch Excellence" style='float:left;' width=400 />
	
	As part of our Brand Excellence Execution Tools & Process, GalbraithWight is pleased to introduce our launch excellence panning application, Apollo LX. Apollo LX is the only Global Launch Excellence planning software
 with GalbraithWight's Market Access and Launch Planning expertise embedded in its platform.
</p>
<p>
 Specifically designed for pharmaceutical, biotech and medical device companies, the core of Apollo LX is GalbraithWight's global launch planning insight and processes, delivered in an easy-to-use web application. Apollo LX provides launch strategy, communication, planning, tracking, clarity and control for ultimate launch success."
</p>
<p><a href="http://www.apollolx.com/">Click here to visit the Apollo LX website to find out more.</a></p>

</p>
</div>

