<body>
	<div id="section_holder">
		<div id="about_gw_box">
			Some text about GalbraithWight
		</div>
		<div id="login_box">
			Not registered yet?  Sign up here.
		</div>
		<div id="latest_news_box">
			a couple of latest headlines plus first sentence
		</div>
		<div id="contact_box">
			phone and email details and link to main contact page
		</div>
	</div>
</body>