<head>
</head>
<body>

<!--link_to Brand n Launch Excellence, no clue of path
	link_to Insight Market Research, no clue of path
	link_to Market Access, no clue of path -->
<%= link_to 'News', controller: 'articles' %>
<%= link_to 'Sign In', new_user_path %> 
<!-- new user or returning user path??? -->
</body>