<div id="main" class="container">
<div class="row">
	<div class="span12">
		<h4 class="section-heading">Latest Events</h4>
		<p>Events at which GalbraithWight is exhibiting, chairing, or attending as delegate.</p>
	</div>
</div>
<div class="row">
		<%= render_calendar_feed(0,7) %>
</div>
</div>