<div id="main" class="container">
<div class="row">
	<div class="span12">
		<h4 class="section-heading">Latest Events</h4>
		<p>Checkout our upcoming events</p>
	</div>
</div>
<div class="row">
	<%- cache "google_calendar_feed", (Time.now + 60.minutes) do -%>
		<%= render_calendar_feed(0,7) %>
	<%- end -%>
</div>
</div>