<% content_for :title, "News | GalbraithWight News Updates" %>

<h1>Latest news from GalbraithWight</h1>
<div class="container">
	<div class="row-fluid">
		<% latest_articles.each do |article| %>
		<div class="span4">
			<h4 class="section-heading"><%= article.title %></h4>
			<p><%= article.text.html_safe %></p>
		</div>
		<% end %>
	</div>
</div>