<body>

	<div id="services_summary">
		<div id="ma_overview_box">
			Market Access
		</div>
		<div id="imr_overview_box">
			Insight Market Research
		</div>
		<div id="ble_overview_box">
			Brand &amp; Launch Excellence
		</div>
		<div id="bussch_overview_box">
			GalbraithWight Business School
		</div>
	</div>

</body>