<% content_for :title, "About Us | Our Vision | About GalbraithWight, the Pharmaceutical Market Access consulting and training company" %>
<!-- main -->
<div id="main" class="container">
  
  <!-- mission section -->
  <div class="row mission-section">
    <div class="span8">
      <h4>“At GalbraithWight we are passionate about improving the way the global healthcare industry commercialises its brands, in order to improve the lives of patients while creating value for our clients.
      If you are struggling with your Market Access strategy in any way, want to up-skill your team or simply feel that your activities could benefit from a fresh perspective, do please get in touch. We’d be delighted to explore how we might be able to help you.”</h4><h5>Colin Wight, Chief Executive</h5> <br />
      <h2>Our Vision</h2>
      <h4>Our mission is to help healthcare companies improve lives and create value through the successful commercialisation of their products</h4>
      <p>GalbraithWight is a specialist global market access consultancy. Our team of expert practitioners design and deliver consulting and training solutions for the global healthcare industry. We deliver tailored solutions in three key areas; <%= link_to "Market Access", "/ma/services" %>, <%= link_to "Brand & Launch Excellence", "/ble/services" %>, and <%= link_to "Insight Market Research", "/imr/services" %>.
      We help our customers bring their innovative new healthcare products to the patients that need them. Our goal for our customers is to reduce risk and maximise the probability of success with a Market Access strategy that is designed specifically for them.
      We help our clients identify, create and communicate the optimum Market Access solution for their products, at any stage of the development and commercialisation process.</p>
      <br />
    </div>
    <div class="span4 ">
      <div class="eyepic">
        <%= image_tag 'GW_eye.jpg' %>
      </div>
    </div>
    <div class="span12">
      <strong>What makes GalbraithWight different?</strong>
      <p><ul>
        <li>Market Access is the single most important determinant of commercial success for pharma companies. If you’re not focusing on Market Access at every stage of the development lifecycle, you risk derailing your project and failing before you’ve even launched. This is why a detailed understanding of Market Access lies at the heart of every service we deliver.</li>
        <li>With consultants based in Europe, US and Asia Pacific, we have a wide geographical range of experience and expertise for local, regional and national Payer organisations.</li>
        <li>Our team of consultants is among the most experienced ever assembled at a consultancy in this sector, including global and strategic marketers, market researchers, NHS affairs experts, academics, health economists, pharmacists, NHS executives, clinicians and training specialists – all with extensive ‘hands-on’ experience.</li>
      </ul>
      </p>
    </div>
    
    
  </div>
  <!-- End mission section -->
  
  <!-- Information section -->
  <div class="container information hidden-phone">
    <div class="row">
      <div class="span12">
        <h2 class="hidden-tablet" style="color:#2B4E72;">"Some quote about importance of Market Access"</h2>
        <div class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laor.</div>
        <p><a class="metro" href="/static/serviceset"><i class="icon-thumbs-up"></i>Our Services</a></p>
      </div>
    </div>
  </div>
  <!-- end Information section -->
  
  <!-- Meet The Team section -->
  <div class="container our-team">
    <div class="row">
      <div class="span12">
        <h2>Meet The Team</h2>
        <p>Nullam egestas nulla rutrum lorem varius nec faucibus est fringilla. Quisque at urna vel leo tincidunt rutrum vitae at enim. Duis ac mi nulla. Sed convallis lobortis vulputate. Etiam feugiat sapien vel felis scelerisque dapibus. Curabitur dictum massa id urna imperdiet eu blandit dolor faucibus. Fusce eu lobortis sem. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh eui smod tincidunt ut laor.</p>
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail team-member">
            <figure><img src="images/team1.png" alt="image" class="img-polaroid"></figure>
            <span class="text-info member-name">Colin Wight</span>
            <h5 class="section-heading">CEO</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
          </div>
        </li>
        <li class="span4">
          <div class="thumbnail team-member">
          <figure><img src="images/team2.png" alt="image" class="img-polaroid"></figure>
          <span class="text-info member-name">Aschenputtel</span>
          <h5 class="section-heading">General Manager</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
        </div>
      </li>
      <li class="span4">
        <div class="thumbnail team-member">
        <figure><img src="images/team3.png" alt="image" class="img-polaroid"></figure>
        <span class="text-info member-name">Schmetterling</span>
        <h5 class="section-heading">Financial Controller</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
      </div>
    </li>
    <li class="span4">
      <div class="thumbnail team-member">
      <figure><img src="images/team1.png" alt="image" class="img-polaroid"></figure>
      <span class="text-info member-name">Colin Wight</span>
      <h5 class="section-heading">CEO</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
    </div>
  </li>
  <li class="span4">
    <div class="thumbnail team-member">
    <figure><img src="images/team2.png" alt="image" class="img-polaroid"></figure>
    <span class="text-info member-name">Aschenputtel</span>
    <h5 class="section-heading">General Manager</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
  </div>
</li>
<li class="span4">
  <div class="thumbnail team-member">
  <figure><img src="images/team3.png" alt="image" class="img-polaroid"></figure>
  <span class="text-info member-name">Schmetterling</span>
  <h5 class="section-heading">Financial Controller</h5>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team1.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Colin Wight</span>
<h5 class="section-heading">CEO</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team2.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Aschenputtel</span>
<h5 class="section-heading">General Manager</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team3.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Schmetterling</span>
<h5 class="section-heading">Financial Controller</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team1.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Colin Wight</span>
<h5 class="section-heading">CEO</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team2.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Aschenputtel</span>
<h5 class="section-heading">General Manager</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team3.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Schmetterling</span>
<h5 class="section-heading">Financial Controller</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team1.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Colin Wight</span>
<h5 class="section-heading">CEO</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team2.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Aschenputtel</span>
<h5 class="section-heading">General Manager</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
<li class="span4">
<div class="thumbnail team-member">
<figure><img src="images/team3.png" alt="image" class="img-polaroid"></figure>
<span class="text-info member-name">Schmetterling</span>
<h5 class="section-heading">Financial Controller</h5>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante</p>
</div>
</li>
</ul>
<!-- end team section -->
</div>
</div>
</div>
<!-- Meet The Team section -->
</div>
<!-- end container -->
</div>
<!-- end main -->
<!-- Modal window-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">Join us!</h3>
</div>
<div class="modal-body">
<p>Primera, I love it…</p>
<form action="#form" method="post">
<label for="name"><span>Yor full name</span></label>
<div class="input fluid-input">
<input name="name" id="name" type="text" value="name" class="input-xlarge" >
</div>
<label for="position"><span>Position</span></label>
<div class="input fluid-input">
<input name="position" id="position" type="text" value="position" class="input-xlarge">
</div>
<label for="about"><span>About you</span></label>
<div class="input fluid-input">
<textarea name="about" id="about" rows="5" class="input-xlarge"></textarea>
</div>
</form>
<h4>Information</h4>
<p><a href="#" role="button" class="btn popover-test" title="Information" data-content="Add additional informations about your skills.">Read this</a></p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
<button class="btn btn-primary">Save changes</button>
</div>
</div>