/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	background-image: url("planet_1.jpg");
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-position: left top;
 	color: #030864;
 	margin: 0;
 	font-family: 'Oxygen', sans-serif;
 }

a:link {
	color: #243976;
	text-decoration: none;
}

a:visited {
	color: #243976;
	text-decoration: none;
}

a:hover {
	color: #82abd9;
	text-decoration: none;
}

a:active {
	color: #243976;
	text-decoration: none;
}


 nav {
 	margin: 0;
 	font-family: 'Ubuntu', sans-serif;
 }

 #logo_div {
 	margin-top: 0;
 	background: -webkit-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
 	width: 100%;
 	height: 85px;
 }

 #logo {
 	width: 365px;
 	margin-left: 5px;
 	float: left;
 }

 #buttons_div {
 	margin-top: 25px;
 	padding-left: 1.5%;
 	width: 100%;
 	background: -webkit-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
    background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
 	height: 75px;
 }

 .nav_link {
 	background-color: rgba(255,255,255,0);
 	height: 75px;
 	font-family: 'Oxygen', sans-serif;
 	font-size: 18px;
 	width: 23%;
 	min-width: 186px;
 	margin: 0 17px 0 3px;
 	float: left;
 	-webkit-box-shadow: none;
 	-moz-box-shadow: none;
 	box-shadow: none;
 	border-color: transparent;
 	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
 }

 .nav_link:hover {
 	background-color: #243976;
 	color: white;
 }

 .nav_link:active {
 	background-color: #fff;
 	color: #243976;
 }

.navbar-text.pull-right {
	float: right;
	margin-top: 30px;
	margin-right: 30px;
}

/*INDEX#HTML*/

#section_holder {
	margin-top: 10px;
	width: 80%;
	margin-left: 10%;

}

strong {
	font-size: 16px;
	text-decoration: none;
}

#about_gw_box {
	background-color: rgba(255,255,255,0.7);
	color: #243976;
	border-radius: 5px;
	width: 46%;
	padding: 15px;
	font-size: 13px;
	height: 500px;
	float: left;
	margin-bottom: 10px;
}

#welcome_text {
	background-color: #fff;
	padding: 15px;
	margin-top: 15px;
	-webkit-border-radius: 7px;
 	-moz-border-radius: 7px;
 	height: 86%;
 	line-height: 200%;
}

#eye_pic {
	width: 175px;
	float: left;
}


#login_box {
	background-color: rgba(255,255,255,0.7);
	color: #243976;
	border-radius: 5px;
	width: 46%;
	padding: 15px;
	font-size: 13px;
	height: 200px;
	float: right;
	margin-bottom: 10px;
}

#small_login_form {
	background-color: #fff;
	height: 160px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-border-radius: 7px;
 	-moz-border-radius: 7px;
 	margin-top: 10px;
}


#latest_news_box {
	background-color: rgba(255,255,255,0.7);
	color: #243976;
	border-radius: 5px;
	width: 46%;
	padding: 15px;
	font-size: 13px;
	height: 500px;
	float: right;
	margin-bottom: 100px;

}

.news_article {
	background-color: #fff;
	-webkit-border-radius: 7px;
 	-moz-border-radius: 7px;
	height: 28%;
	margin-top: 15px;
	margin-bottom: 18px;
}

.article_headline {
	font-size: 16px;
	padding: 10px;
	line-height: 75%;
}

.article_author {
	font-size: 12px;
	padding-left: 10px;
	line-height: 200%;
}

.article_body {
	margin-left: 35px;
	margin-right: 25px;
	line-height: 200%;
}

.article_body a {
	float: right;
}


#contact_box {
	background-color: rgba(255,255,255,0.7);
	color: #243976;
	border-radius: 5px;
	width: 46%;
	padding: 15px;
	font-size: 13px;
	height: 200px;
	float: left;
	margin-bottom: 100px;
}



/*SERVICE SET*/

#surround {
	background-color: rgba(255,255,255,0.5);
	height: 335px;
	padding-top: 25px;
}

#services_summary {
	height: 300px;
	width: 100%;
	background-color: rgba(255,255,255,1);
	padding-top: 10px;
}

#ma_overview_box {
	height: 100%;
	width: 25%;
	float: left;
	text-align: center;
}
	#maccess_image {
		margin-top: -125px;
		width: 100%;
		height: 245px;
		position: relative;
		z-index: 1000;
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
	}
	#maccess_image:hover {
		opacity: 0.3;
		filter: alpha(opacity=30);
		z-index: 5;
	}

#imr_overview_box {
	height: 100%;
	width: 25%;
	float: left;
	text-align: center;
}
	#insight_image {
		margin-top: -125px;
		width: 100%;
		height: 245px;
		position: relative;
		z-index: 1000;
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
	}
	#insight_image:hover {
		opacity: 0.3;
		filter: alpha(opacity=30);
		z-index: 5;
	}

#ble_overview_box {
	height: 100%;
	width: 25%;
	float: left;
	text-align: center;
}
	#excellence_image {
		margin-top: -125px;
		width: 100%;
		height: 245px;
		position: relative;
		z-index: 1000;
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
	}
	#excellence_image:hover {
		opacity: 0.3;
		filter: alpha(opacity=30);
		z-index: 5;
	}

#bussch_overview_box {
	height: 100%;
	width: 25%;
	float: left;
	text-align: center;
}
	#bussch_image {
		margin-top: -125px;
		width: 100%;
		height: 245px;
		position: relative;
		z-index: 1000;
		opacity: 1;
		filter: alpha(opacity=100);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
	}
	#bussch_image:hover {
		opacity: 0.3;
		filter: alpha(opacity=30);
		z-index: 5;
	}

.to_services_link {
	float: left;
	position: relative;
	z-index: 500;
	margin-top: 25%;
	margin-bottom: -75px;
	color: #fff;
	width: 100%;
	height: 25%;
	text-align: center;
}

.to_casestudies_link {
	float: left;
	position: relative;
	z-index: 500;
	margin-top: 25px;
	margin-bottom: -200px;
	color: #fff;
	width: 100%;
	height: 25%;
	text-align: center;
}





/*FOOTER*/

section {
	margin-top: 100px;
 	width: 100%;
 	height: 50px;
 	background-color: rgba(255,255,255,0.4);
 	float: left;
 	bottom: 0;
 }

section div {
	padding-top: 10px;
	font-size: 12px;
	width: 30%;
	text-align: center;
}

#site_map {
	float: left;
}

#copyright_info {
	float: left;
	padding-left: 45px;
}

#github_link {
	float: right;
}



