<!-- Footer -->
<footer id="footer">
  <div class="row">
    <div class="span1"></div>
    <div class="span3">
      <h3>Contact Us</h3>
      <p>GalbraithWight has offices located in the UK, Princeton NJ, and plans to have an office in Milan, Italy in 2015</p>
      <p>Full contact details can be found <%=link_to "here", static_contact_path %></p> 
    </div>
    <div class="span5">
      <h3>Latest news</h3>
      <div class="latest-news-box">
        <div class="latest-news-box-img"><img class="img-circle img-polaroid" src="images/Data-Properties.png" alt="image" /></div>
        <div class="latest-news-box-text">
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
      <div class="latest-news-box">
        <div class="latest-news-box-img"><img class="img-circle img-polaroid" src="images/Business-Man.png" alt="image"  /></div>
        <div class="latest-news-box-text">
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
      <div class="latest-news-box">
        <div class="latest-news-box-img"><img class="img-circle img-polaroid" src="images/Message-Edit.png" alt="image" /></div>
        <div class="latest-news-box-text">
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
    </div>
    <div class="span3">
      <h3>Primera</h3>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    </div>
  </div>
  <div id="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="span9"> Copyright &copy; GalbraithWight Ltd 2014</div>
        <div class="span9-1"><%= link_to "This site on Github", "http://www.github.com/HannahCRW/GalbraithWight_Website", target: "_blank" %></div>
        <div class="span3 pull-right"> <span class="facebook-icon social-icon"></span> <span class="twitter-icon social-icon"></span> <span class="google-icon social-icon"></span> </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->