<section>
	<div id="site_map">
		site map
	</div>
	<div id="copyright_info">
		&copy; GalbraithWight Ltd 2014
	</div>
	<div id="github_link">
		<%= link_to "this site on github", "http://www.github.com/HannahCRW/GalbraithWight_website", target: "_blank" %>
	</div>
</section>